/*爱生活*/
.body_eight{
	width:1200px;
	height:2250px;
	margin:0 auto;
	margin-top:30px;
}
.body_eight > div:nth-child(even){
	float:left;
}
.body_eight > div:nth-child(odd){
	float:right;
}
.body_eight > div:nth-child(2){
	margin-top:0;
}
.body_eight > div:nth-child(3){
	margin-top:0;
}
.one_life_1{
	margin-top:30px;
	width:590px;
	height:525px;
}
.one_life_2{
	width:100%;
	height:60px;
	background-color:rgb(153,69,118);
}
.one_life_2 > h3{
	float:left;
	margin-left:20px;
	margin-top:17px;
	color:white;
	font-size:20px;
	font-weight:normal;
}
.one_life_2 > div{
	width:22px;
	height:22px;
	float:left;
	margin-left:20px;
	margin-top:20px;
	background-image:url("../images/sign.jpg");
}
.one_life_2 > a{
	float:right;
	margin-top:20px;
	margin-right:10px;
	display:block;
	color:white;
	text-align:center;
}
.one_life_3{
	width:100%;
	height:465px;
	background-color:white;
}
.one_life_3_1 img{
	width:180px;
	height:250px;
	margin-left:10px;
	margin-top:10px;
}
.one_life_3_2{
	border-right:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
}
.one_life_3_3{
	border-bottom:1px solid #C0C0C0;
}
.one_life_3_4{
	border-right:1px solid #C0C0C0;
}
.one_life_3_6 img{
	width:183px;
	height:130px;
	margin-left:10px;
	margin-top:10px;
	float:left;
}
.one_life_3_7 img{
	width:183px;
	height:130px;
	margin-left:10px;
	margin-top:10px;
	float:left;
}
.one_life_3_8 img{
	width:183px;
	height:130px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:12px;
	float:left;
}
.one_life_3_9{
	margin-left:10px;
}
.one_life_3_9 li{
	width:94px;
	height:20px;
	float:left;
	border-right:1px solid #C0C0C0;
	text-align:center;
	margin-top:8px;
}
.one_life_3_9 img{
	width:70px;
	height:35px;
	margin-top:-8px;
}
.one_life_3_9 li:nth-child(6){
	border:none;
}
.one_life_3_10{
	margin-right:10px;
	margin-top:10px;
	width:377px;
	height:251px;
	float:right;
}
.one_life_3_10 li{
	width:188px;
	height:125px;
	float:left;
}
.one_life_3_10 > li p:nth-child(1){
	display:block;
	width:70px;
	height:20px;
	color:purple;
	font-size:14px;
	margin-top:30px;
	margin-left:20px;
}
.one_life_3_10 > li p:nth-child(2){
	display:block;
	width:50px;
	height:35px;
	color:black;
	font-size:12px;
	margin-left:20px;
}
.one_life_3_10 img{
	width:100px;
	height:90px;
	float:right;
	margin-right:13px;
	margin-top:-60px;
}
.two_life_1{
	margin-top:30px;
	width:1200px;
	height:525px;
	background-color:white;
}
.two_life_2{
	width:100%;
	height:60px;
	background-color:rgb(67,136,166);
}
.two_life_2 > h3{
	float:left;
	margin-left:20px;
	margin-top:17px;
	color:white;
	font-size:20px;
	font-weight:normal;
}
.two_life_2 > div{
	width:22px;
	height:22px;
	float:left;
	margin-left:20px;
	margin-top:20px;
	background-image:url("../images/sign.jpg");
}
.two_life_2 > a{
	float:right;
	margin-top:20px;
	margin-right:10px;
	display:block;
	color:white;
	text-align:center;
}
.two_life_3{
	width:598px;
	height:400px;
	margin-top:10px;
	border-right:1px solid #C0C0C0;
	float:left;
	background-color:white;
}
.two_life_4{
	width:600px;
	height:400px;
	margin-top:10px;
	float:left;
	background-color:white;
}
.two_life_3_5{
	margin-left:28.5px;
}
.two_life_3_5 li{
	width:94px;
	height:20px;
	float:left;
	border-right:1px solid #C0C0C0;
	text-align:center;
	margin-top:19px;
}
.two_life_3_5 img{
	width:70px;
	height:35px;
	margin-top:-8px;
}
.two_life_3_5 li:nth-child(12){
	border:none;
}
.body_nine{
	width:1200px;
	height:2800px;
	margin:0 auto;
}
.body_nine > div:nth-child(even){
	float:left;
}
.body_nine > div:nth-child(odd){
	float:right;
}
.aimeili{
	background-color:rgb(201,53,88);
}
.jiadianguan{
	background-color: rgb(115,77,139);
}
.gaojipai{
	background-color:rgb(89,104,143);
}
.wan3C{
	background-color:rgb(53,166,164);
}
.aiyundong{
	background-color:rgb(81,137,120);
}
.aichi{
	background-color:rgb(236,176,40);
}
.aibaobao{
	background-color:rgb(227,100,59);
}
.aijia{
	background-color:rgb(160,99,62);
}
.aiyundu{
	background-color:rgb(112,88,81);
}
.aiche{
	background-color:rgb(131,75,75);
}
.aiyouxi{
	background-color:rgb(94,93,154);
}
.jingdongjinrong{
	background-color:rgb(83,108,82);
}
.shenghuolvxing{
	background-color:rgb(77,117,151);
}
.aijiankang{
	background-color:rgb(111,135,44);
}
